# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VSCode or PyCharm config folders (optional, IDE-specific)
.vscode/
.idea/

# Log files (optional)
*.log

../mobile
